apiVersion: apps/v1
kind: StatefulSet
metadata:
  namespace: feedservice
  name: postgres
spec:
  serviceName: postgres
  replicas: 1
  selector:
    matchLabels:
      app: feedservice-db
      env: dev
      tier: database
  template:
    metadata:
      labels:
        app: feedservice-db
        env: dev
        tier: database
    spec:
      containers:
        - name: postgres
          image: postgres:14.20-alpine3.23
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: postgres-secret
          env:
            - name: PGDATA
              value: /var/lib/postgresql/data
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 10Gi









